<div class="container">

	<div class="list-group" >
		<div class="row">
			<button (click)="upvoteContribution(contribution.id)" type="button">↑</button>
			<button (click)="unvoteContribution(contribution.id)" type="button">↓</button>
			<a href="http://{{contribution.url}}">{{contribution.title}}</a>
			<small *ngIf="contribution.url!=null">({{contribution.url}})</small>
		</div>
		<div class="row">
			<p>{{contribution.votes}} point by {{contribution.username}}</p>
			<a href="#"> &nbsp;created at {{contribution.created_at}} </a>
			<p> | </p>
			<a href="#">{{contribution.total_Comments}}  x comments</a>
		</div>
	</div>


</div>