<div class="container">

	<div class="list-group" *ngFor="let contribution of contributions ">
		<div class="row">

			<button (click)="upvoteContribution(contribution.id)" type="button">↑</button>
			<button (click)="unvoteContribution(contribution.id)" type="button">↓</button>
			<p *ngIf="contribution.url!=null">
			<a href="http://{{contribution.url}}">{{contribution.title}}</a>
			<small >({{contribution.url}})</small>
			 </p>

			 <p *ngIf="contribution.url ==null">
			<a href="./contribution/{{contribution.id}}">{{contribution.title}}</a>
			
			 </p>

			
		</div>
		<div class="row">
			<p>{{contribution.votes}} point by {{contribution.user_id}}</p>
			<a href="#">created at {{contribution.created_at}}</a>
			<p> | </p>
			<a href="#">hide </a>
			<p>|</p>
			<a href="./contribution/{{contribution.id}}">{{contribution.total_Comments}} comments</a>
		</div>
	</div>


	<a href = "https://salty-beyond-71147.herokuapp.com/auth/google_oauth2"> Login </a>
	<button (click)="getLogin()" type="button">Create Contr Ask</button>
	<button (click)="create_url()" type="button">Create Contr Url</button>

</div>
