<div class="container">

	<div class="list-group" *ngFor="let contribution of contributions ">
		<div class="row">

			<button (click)="upvoteContribution(contribution.id)" type="button">↑</button>
			<button (click)="unvoteContribution(contribution.id)" type="button">↓</button>
			<p *ngIf="contribution.url!=null">
			<a href="http://{{contribution.url}}">{{contribution.title}}</a>
			<small >({{contribution.url}})</small>
			 </p>

			 <p *ngIf="contribution.url ==null">
			<a href="./contribution/{{contribution.id}}">{{contribution.title}}</a>
			
			 </p>

			
		</div>
		<div class="row">
			<p>{{contribution.votes}} point by <a href="./user/{{contribution.user_id}}">{{contribution.username}} </a> </p>
			<a href="#"> &nbsp;created at {{contribution.created_at}}</a>
			<p> | </p>
			<a href="./contribution/{{contribution.id}}">{{contribution.total_Comments}} x comments</a>
		</div>
	</div>


	<button (click)="create_ask()" type="button">Create Contr Ask</button>
	<button (click)="create_url()" type="button">Create Contr Url</button>

</div>
